@page "/"

<PageTitle>Home</PageTitle>

<div class="introduction-container">
    <div class="link-panel">
        <a href="https://linkedin.com/in/joseph-harrington-0101" target="_blank" rel="noopener noreferrer">
            <img class="linkedin-link" src="LI-Logo.png" alt="Go to my LinkedIn page!">
        </a>

        <a href="https://github.com/FJoey" target="_blank" rel="noopener noreferrer">
            <img class="github-link" src="GitHub_Logo_White.png" alt="Go to my GitHub page!">
        </a>

        <a href="https://truenothepanda.itch.io/" target="_blank" rel="noopener noreferrer">
            <img class="itchio-link" src="itchio-logo-white.png" alt="Go to my Itch.io page!">
        </a>
    </div>
    <div class="self-image-panel">
        <img class="self-image" src="https://i.kym-cdn.com/photos/images/newsfeed/001/562/655/8fa.jpg">
    </div>
    <div class="skills-panel">
        <a class="skill-description">
            <img class="blazor-logo" src="blazor-logo.png">
            ASP.NET Blazor
        </a>

        <a class="skill-description">
            <img class="csharp-logo" src="csharp-logo.png">
            C#
        </a>

        <a class="skill-description">
            <img class="java-logo" src="java-logo.png">
            Java
        </a>

        <a class="skill-description">
            <img class="unity-logo" src="unity-logo.png">
            Unity
        </a>
    </div>
</div>

<!--
<div class="cards-container">
    <Card Title="Bio" Content="Background Information" Route="/bio" />
    <Card Title="Project Portfolios" Content="Portfolio Collection" Route="/projects" />
    <Card Title="Interactive Section" Content="Small Games and Tools" Route="/interactive"/>
</div>
-->