@page "/"

<PageTitle>Home</PageTitle>

<div class="introduction-container">
    <div class="link-panel">
        <a>LinkedIn:</a>
        <a>GitHub: </a>
    </div>
    <div class="self-image-panel">
        <img class="self-image" src="https://i.kym-cdn.com/photos/images/newsfeed/001/562/655/8fa.jpg">
    </div>
</div>

<div class="cards-container">
    <Card Title="Bio" Content="Background Information" Route="/bio" />
    <Card Title="Project Portfolios" Content="Portfolio Collection" Route="/projects" />
    <Card Title="Interactive Section" Content="Small Games and Tools" Route="/interactive"/>
</div>