@page "/"

<PageTitle>Home</PageTitle>

<div class="introduction-container">
    <a>I like butts</a>
</div>

<div class="cards-container">
    <Card Title="Bio" Content="Background Information" Route="/bio" />
    <Card Title="Project Portfolios" Content="Portfolio Collection" Route="/projects" />
    <Card Title="Interactive Section" Content="Small Games and Tools" Route="/interactive"/>
</div>