@page "/projects"

<h3>Project_Portfolios</h3>

<div class="cards-container">
    <Card Title="Mobile" Content="Mobile Portfolio" Route="/mobile" />
    <Card Title="Games" Content="Games Portfolio" Route="/games" />
</div>

@code {

}
