/* _content/1/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-yub2nsdm8j] {
    background-color: rgba(0, 0, 0, 0.918);
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main[b-yub2nsdm8j] {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    flex: 1;
}

.sidebar[b-yub2nsdm8j] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-yub2nsdm8j] {
    background-color: #313131;
    justify-content: center;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-yub2nsdm8j]  a, .top-row[b-yub2nsdm8j]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-yub2nsdm8j]  a:hover, .top-row[b-yub2nsdm8j]  .btn-link:hover {
        text-decoration: underline #eead22;
    }

    .top-row[b-yub2nsdm8j]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-yub2nsdm8j] {
        justify-content: space-between;
    }

    .top-row[b-yub2nsdm8j]  a, .top-row[b-yub2nsdm8j]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-yub2nsdm8j] {
        flex-direction: row;
    }

    .sidebar[b-yub2nsdm8j] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-yub2nsdm8j] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-yub2nsdm8j]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-yub2nsdm8j], article[b-yub2nsdm8j] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-yub2nsdm8j] {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-yub2nsdm8j] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/1/Components/Layout/NavMenu.razor.rz.scp.css */
.top-row[b-1qg8s3c9db] {
    min-height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-1qg8s3c9db] {
    font-size: 1rem;
}

.bi-house-door-fill-nav-menu[b-1qg8s3c9db] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-1qg8s3c9db] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-1qg8s3c9db] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-1qg8s3c9db] {
    font-size: 0.9rem;
}
    .nav-item[b-1qg8s3c9db]  .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        justify-content: left;
    }

.nav-item[b-1qg8s3c9db]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.dropdown-menu[b-1qg8s3c9db] {
    position: absolute;
    top: 100%;        
    left: auto;  
    display: flex;      
    flex-direction: column; 
    background-color: rgba(0, 0, 0, 0.8); 
    padding: 0.5rem 0;   
    border-radius: 0.25rem; 
    z-index: 1000;        
}

@media (min-width: 641px) {
    .navbar-toggler[b-1qg8s3c9db] {
        display: none;
    }

    .nav-scrollable[b-1qg8s3c9db] {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* _content/1/Components/Pages/Home.razor.rz.scp.css */
.introduction-container[b-ww7yg0su7d]{
    border: 1px solid #eead22;
    background-color: #313131;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem; 
    max-width: 850px;
    width: 100%;
    margin: 0 auto;
}

.cards-container[b-ww7yg0su7d]{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem; 
}
/* _content/1/Components/Shared/Card.razor.rz.scp.css */
.card[b-qchsf375jp]{
    padding: 1rem;
    box-shadow: 0px 4px 10px #eead22b0;
    margin-bottom: 1rem;
    background-color: #313131;
    transition: all 0.2s ease; /* Adds a smooth transition */
}

.card:hover[b-qchsf375jp] {
    box-shadow: 0px 3px 5px #eead22;
    background-color: #313131;
    margin-bottom: 1px;
}

.card h3[b-qchsf375jp]{
    margin-top: 0;
}

