.introduction-container[b-ww7yg0su7d]{
    /*border: 1px solid #eead22;*/
    /* box-shadow: 0px -2px 10px #eead22b0;*/
    /* background-color: #313131; */
    background-color: rgba(0, 0, 0, 0.918);
    color: white;
    gap: 1rem;
    display: flex;
    flex-direction: row;
    max-width: 850px;
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
}

.cards-container[b-ww7yg0su7d]{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem; 
}

.self-image[b-ww7yg0su7d]{
    width: 50%;
    height: auto;
}

.link-panel[b-ww7yg0su7d]{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
}

.link-panel a:not(:last-child)[b-ww7yg0su7d]{
    margin-bottom: 1rem;
}

.link-panel img[b-ww7yg0su7d] {
    max-width: 100%;
    height: auto;      
    display: block;
}

.self-image-panel[b-ww7yg0su7d]{
    justify-content: center;
}

.self-image-panel img[b-ww7yg0su7d]{
    margin-left: auto;
    justify-content: center;
}

.skills-panel[b-ww7yg0su7d]{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 15%;
}

.skills-panel a:not(:last-child)[b-ww7yg0su7d]{
    margin-bottom: 1rem;
}

.skills-panel img[b-ww7yg0su7d]{
    max-width: 100%;
    height: auto;      
    display: block;
}

.skill-description[b-ww7yg0su7d]{
    display: flex;
    flex-direction: row;
}