.introduction-container[b-ww7yg0su7d]{
    /*border: 1px solid #eead22;*/
    box-shadow: 0px -2px 10px #eead22b0;
    background-color: #313131;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem; 
    max-width: 850px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
}

.cards-container[b-ww7yg0su7d]{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem; 
}

.self-image[b-ww7yg0su7d]{
    width: 75%;
    height: auto;
}

.self-image-panel[b-ww7yg0su7d]{
    margin-left: auto;
}