.card[b-qchsf375jp]{
    padding: 1rem;
    box-shadow: 0px 4px 10px #eead22b0;
    margin-bottom: 1rem;
    background-color: #313131;
    transition: all 0.2s ease; /* Adds a smooth transition */
}

.card:hover[b-qchsf375jp] {
    box-shadow: 0px 3px 5px #eead22;
    background-color: #313131;
    margin-bottom: 1px;
}

.card h3[b-qchsf375jp]{
    margin-top: 0;
}

